.foot{
    background-color: #c9184a;
}
.foot h3{
    text-align: center;
    color: #ffccd5;
}
.foot p{
    text-align: center;
    color:white;
    font:bold;
}
.footRedesSociales
{
    border:  3px solid #c9184a;
}

.socialIma{
    height:40px;
    margin: 6px;
}

.footSocialContenedor{
    background-color: #c9184a;
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}