.contenedorContacto{
    background-color: transparent;
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items:center;
}
.contactoFondo{
    background-image: url("../Imagenes/Contacto.jpg");
    background-repeat: no-repeat;
    background-size:cover;   
}
.imgContactenos img{
    height: 35px;
    width: 55px;
    border: 2px black solid;
    margin: 55px 15px 5px 20px;
} 
